POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_PGDATA=/var/lib/postgresql/data/pgdata
POSTGRES_BACKUP_SCHEDULE=@daily
PG_DUMP_HEALTHCHECK_PORT=8080
POSTGRES_BACKUP_DIR=./.backups/postgres

EXPOSE_SERVER_PORT=1488
SERVER_PORT=1337
CONFIG_PATH=./config/config.prod.toml
